Repository zeoflow/material-elements, pull requests merged in 2021-03, with the labels that each got.

#62 Material ViewPager
  local.properties
  material-elements/build.gradle
  material-elements/java/com/zeoflow/material/elements/pagerindicator/MaterialViewPagerAttacher.java
  material-elements/java/com/zeoflow/material/elements/pagerindicator/ScrollingPagerIndicator.java
  material-elements/java/com/zeoflow/material/elements/pagerindicator/build.gradle
  material-elements/java/com/zeoflow/material/elements/slidingpanel/ViewDragHelper.java
  material-elements/java/com/zeoflow/material/elements/viewpager/AnimateLayoutChangeDetector.java
  material-elements/java/com/zeoflow/material/elements/viewpager/CompositeOnPageChangeCallback.java
  material-elements/java/com/zeoflow/material/elements/viewpager/CompositePageTransformer.java
  material-elements/java/com/zeoflow/material/elements/viewpager/FakeDrag.java
  material-elements/java/com/zeoflow/material/elements/viewpager/MarginPageTransformer.java
  material-elements/java/com/zeoflow/material/elements/viewpager/MaterialViewPager.java
  material-elements/java/com/zeoflow/material/elements/viewpager/PageTransformerAdapter.java
  material-elements/java/com/zeoflow/material/elements/viewpager/ScrollEventAdapter.java
  material-elements/java/com/zeoflow/material/elements/viewpager/adapter/FragmentStateAdapter.java
  material-elements/java/com/zeoflow/material/elements/viewpager/adapter/FragmentViewHolder.java
  material-elements/java/com/zeoflow/material/elements/viewpager/adapter/StatefulAdapter.java
  material-elements/java/com/zeoflow/material/elements/viewpager/build.gradle
  material-elements/java/com/zeoflow/material/elements/viewpager/res/values/attrs.xml
  sample/src/main/java/com/zeoflow/material/elements/sample/MainActivity.java
Labels: @feature, @priority-low

#64 Improved .gitignore
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/intellij-javadocs-4.0.1.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/runConfigurations.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  local.properties
  material-elements/gradle.properties
Labels: @bug-fix, @priority-very-low

#66 Repacked from sample to catalog
  catalog/.gitignore
  catalog/build.gradle
  catalog/proguard-rules.pro
  catalog/src/main/AndroidManifest.xml
  catalog/src/main/java/com/zeoflow/material/elements/sample/MainActivity.java
  catalog/src/main/res/drawable/ic_launcher_background.xml
  catalog/src/main/res/drawable/ic_launcher_foreground.xml
  catalog/src/main/res/layout/activity_main.xml
  catalog/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  catalog/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  catalog/src/main/res/mipmap-hdpi/ic_launcher.png
  catalog/src/main/res/mipmap-hdpi/ic_launcher_round.png
  catalog/src/main/res/mipmap-mdpi/ic_launcher.png
  catalog/src/main/res/mipmap-mdpi/ic_launcher_round.png
  catalog/src/main/res/mipmap-xhdpi/ic_launcher.png
  catalog/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  catalog/src/main/res/mipmap-xxhdpi/ic_launcher.png
  catalog/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  catalog/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  catalog/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  catalog/src/main/res/values-w820dp/dimens.xml
  catalog/src/main/res/values/colors.xml
  catalog/src/main/res/values/dimens.xml
  catalog/src/main/res/values/strings.xml
  catalog/src/main/res/values/styles.xml
  material-elements/gradle.properties
  sample/src/main/assets/animation.json
  settings.gradle
Labels: @maintenance, @priority-very-low

#67 Updated GitHub Environment
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/first-timers.yml
  .github/workflows/test.yml
  .gitignore
  .zeobot/config.yml
  pull_request_template.md
Labels: @maintenance, @priority-very-low

#68 created `buildSrc` folder
  build.gradle
  buildSrc/upload.gradle
  material-elements/build.gradle
  material-elements/gradle.properties
  material-elements/maven-push.gradle
Labels: @maintenance, @priority-very-low
